VITE_API_ROOT='api root path'

VITE_NODE_ENV='development | stage | production'
VITE_AUTH_URL='https://<keycloak-tunnel>/realms/passkeys-demo'
VITE_CLIENT_ID='react-template-pwa'
VITE_REDIRECT_URI='https://<frontend-tunnel>/main'
VITE_SCOPE='openid profile email'
VITE_AUTH_NGROK_SKIP_BROWSER_WARNING='false'
