{
  "arrowParens": "always",
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "vueIndentScriptAndStyle": false,
  "endOfLine": "auto",
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^api/(.*)$",
    "^domains(.*)$",
    "^(i18n|types|utils|config)(.*)$",
    "^entities(.*)$",
    "^features(.*)$",
    "^pages(.*)$",
    "^shared(.*)$",
    "^[../]",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ]
}