@import './mixins';
@import './breakpoints';

.grid {
  gap    : 24px;
  display: grid;

  &-sm {
    gap: 16px 18px;
  }
}

.link {
  color          : var(--primary);
  font-family    : var(--font-family);
  font-size      : 12px;
  cursor         : pointer;
  transition     : 0.4s;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
}

.fill-a {
  width: -webkit-fill-available;
}

button.link {
  padding   : 0;
  outline   : none;
  text-align: left;
  background: transparent;
}

.ml-auto {
  margin-left: auto;
}

.d-flex {
  display: flex;

  &.a-self {
    &--end {
      align-self: flex-end;
    }
  }

  &.btw {
    justify-content: space-between;
    align-items    : center;
  }

  &.center {
    align-items: center;
  }

  &.flex-end {
    justify-content: flex-end;
  }

  &.j {
    &-end {
      justify-content: flex-end;
    }
  }
}

.w-100 {
  width: 100%;
}

.divider {
  height    : 1px;
  border    : none;
  margin    : 24px 0;
  background: var(--secondary);
}

.pointer {
  cursor: pointer;
}

.scroll-disabled {
  overflow: hidden !important;
}

.modal-transition {
  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity   : 1;
    transition: opacity 200ms;
  }

  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity   : 0;
    transition: opacity 200ms;
  }
}

.single-page-container {
  max-width: 560px;
  width    : 100%;
}


.password-input {
  -webkit-text-security: disc !important
}

.pagination--abs {
  left            : 10px;
  right           : 10px;
  bottom          : 0;
  padding         : 10px 0;
  position        : absolute;
  background-color: var(--white);
}

.rc-dropdown {
  font-family: var(--font-family) !important;
}