$grids        : 10;
$spacer       : 8px;
$spacers      : 12;
$max-font-size: 32px;

@mixin margin-right-list {
  @for $i from 1 through $spacers {
    .mr-#{$i} {
      margin-right: $i * $spacer;
    }
  }
}

@mixin margin-left {
  @for $i from 1 through 100 {
    .ml-#{$i} {
      margin-left: $i * 1px;
    }
  }
}

@mixin spacer-list {
  @for $i from 1 through $spacers {
    .spacer-#{$i} {
      min-height: $i * $spacer;
      max-height: $i * $spacer;
    }
  }
}

@mixin grid-list {
  @for $i from 1 through $grids {
    .grid-#{$i} {
      @extend .grid;
      grid-template-columns: repeat($i, 1fr);
    }
  }
}

@mixin font-size {
  @for $i from 1 through $max-font-size {
    .fz-#{$i} {
      font-size: $i * 1px;
    }
  }
}

@mixin scrollbar($color: var(--primary), $size: 9px, $hidden: false) {
  scrollbar-color: $color transparent !important;
  scrollbar-width: thin !important;

  &::-webkit-scrollbar {
    width           : $size !important;
    height          : $size !important;
    background-color: transparent !important;
  }

  &::-webkit-scrollbar-thumb {
    border-radius   : 0 !important;
    background-color: $color !important;
  }

  @if $hidden {
    scrollbar-width: none !important;

    &::-webkit-scrollbar {
      width : 0 !important;
      height: 0 !important;
    }
  }
}